<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}

<html lang="en">
<head>
    <title>brands</title>
     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 

</head>
 
<body>
    <h1 style="color:green;text-align:center;">
        List of all brands
    </h1>
     
     
    <div class="container">
         
        <ul class="list-group">
            {% for brand in brands %}
            <a href="{{brand.id}}" class="list-group-item list-group-item-action">{{brand.title}}</a>
            {%endfor%}
        </ul>
      </div>
    
    <!-- pagination -->
    <div class="text-center">
      <span class="step-links">
          {% if brands.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ brands.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ brands.number }} of {{ brands.paginator.num_pages }}.
          </span>
  
          {% if brands.has_next %}
              <a href="?page={{ brands.next_page_number }}">next</a>
              <a href="?page={{ brands.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
  
</body>
 
</html>                   