<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{brand.title}}</title>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="images p-3">
                                <div class="text-center p-4"> <img id="main-image" src="/media/{{brand.logo}}" width="250" /> </div>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product p-4">
                                    <h5 class="text-uppercase">{{brand.title}}</h5>
                                </div>
                                <p class="about">{{brand.descreption}}</p>
                                
                                <div class="cart mt-4 align-items-center"> <button class="btn btn-danger text-uppercase mr-2 px-4"><a href="{{data_url}}">Download </a></button> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- map -->
                <iframe src = "https://maps.google.com/maps?q={{brand.latitude}},{{brand.longitude}}&hl=es;z=14&amp;output=embed" width="600" height="500"></iframe>
                <!-- end map -->
            </div>
        </div>
    </div>
    
</body>
</html>




